*{
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

.col-12{
    background-color: gray;
    text-align: right;
    color: white;
}
.ac{
    background-color: lightgray;
    border: 1px solid rgb(255, 255, 255);
    padding: 10px;
}
.omega{
    background-color: orangered;
    color: white;
    border: 1px solid rgb(255, 255, 255);
    padding: 10px;
}

.container{
    margin-top:20px;
}